<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dennou.pman"
    android:versionCode="102"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dennou.pman.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TagFormatActivity" android:label="@string/tf_title">
        </activity>
        <activity android:name="AttendActivity" >
            <intent-filter>
                <data
                    android:host="pm2013-03.herokuapp.com"
                    android:scheme="http" />

                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="pmanager.ddo.jp"
                    android:scheme="http" />

                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
        <activity android:name="PrefActivity" >
        </activity>
        <activity
            android:name="LogActivity"
            android:label="@string/title_activity_log" >
        </activity>
        <activity
            android:name="MySeminarActivity"
            android:label="@string/ms_title" >
        </activity>
        <activity
            android:name="NfcActivity" android:noHistory="true" android:label="@string/nf_title">
        </activity>
        </application>

</manifest>